:root {
    --link-color: #122548;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 800px;
    font-family:Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    color: #fff;
    background-image: url("alexander-andrews-moon-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--link-color);
}

h1 {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 50px; 
    text-transform: uppercase;
}

.fancy-strip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23%;
    width: 100%;
    height: 100px;
    background-color: #00000050;  
}

.section-bottom {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    margin-bottom: 1rem;
}

.section-bottom a {
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: #eee;
}

.group {
    margin: 20px 0 30px 0;
    width: 65%;
}

.content p,
.form-area p {
    font-weight: bold;
    line-height: 1.1rem;
}

.content,
.btn-area {
    padding: 30px;
}

.form-area {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px #aaa;
}

.form-area p {
    color: var(--link-color);
    font-size: 20px;
    margin-bottom: 1.3rem;
}

.blank {
    height: 20px;
    margin-bottom: 1.3rem;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
}

.label-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
    text-transform: uppercase;
}

input {
    width: 200px;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

input:focus {
    outline-color: #3d7eac;
    box-shadow: 3px 3px #ccc;
}

.btn-area p {
    padding-top: 20px;
}

.log-in {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

.log-in:link {
    text-decoration: none;
}

.log-in:visited {
    text-decoration: none;
}

.log-in:hover {
    text-decoration: none;
}

.log-in:active {
    text-decoration: none;
}

button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #aaa;
    font-weight: bold;
    background-color: var(--link-color);
    color: #fff;
}

button:hover {
    background-color: #3d7eac;
}
